.input-alert-group .alert {
	margin-bottom: 0;
}
.input-alert-group {
	display: table;
	margin-bottom: 20px;
}
.alert {
	display: table;
	padding: 15px;
	border-radius: 4px;
	font-size: 18px;
}
.alert:empty {
	display: none;
}
.content {
	padding-left: 50px;
	padding-right: 50px;
}
.table {
	width: 50%;
}
h1 {
	font-size: 26px;
}
.label {
	font-size: 100%;
}
.input-group {
	display: table;
	margin-bottom: 20px;
}

form[name="topicCreationForm"] .form-group,
form[name="topicModifyForm"] .form-group {
	width: 50%;
}

form[name="searchTopicForm"] .form-group {
	width: 50%;
}

form[name="searchTopicForm"] .form-control {
	width: 100%;
}

form[name="searchTopicForm"] {
	margin-bottom: 40px;
}

form#regForm .form-control,
form[name="createPostForm"] .form-control {
	width: initial;
}

form#regForm .error {
	color: #d9534f;
}

form#regForm {
	margin-bottom: 40px;
}

.page-delimiter {
    margin: 0 0 20px;
    border-bottom: 1px solid #eee;
}

.comment {
	width: initial;
}

.child-comment {
	padding-left: 40px;
}
